<!DOCTYPE HTML>
<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="../public/Semantic-UI-CSS-master/semantic.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/todos" method="POST">
      <input type="text" name="content" />
      <button class="ui primary button" type="submit" value="新增"></button>
    </form>
    <ul>
      <% for(var i=0; i<todos.length; i++) {%>
      <li><%= todos[i].get('content') %></li>
      <% } %>
    </ul>
  </body>
</html>
